[MESSAGES CONTROL]
disable=C0301,W0718

[FORMAT]
max-line-length=120

[BASIC]
good-names=i,j,k,ex,Run,_,id,df,fn

[DESIGN]
max-args=10
max-locals=20
max-returns=6
max-branches=15
max-statements=50

[SIMILARITIES]
min-similarity-lines=4
ignore-comments=yes
ignore-docstrings=yes
ignore-imports=no
